body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url("addidasgif.png");
    background-size: cover;
    background-repeat:repeat;
    background-position: center;
}
.header{
    background-color: #343232;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:#FAF8F8;
    height: 70px;
    width:100%;
 } 

 .item1{
     font-size: 35px;
     font-weight: bold;
     font-family: Helvetica;
 }

 .item2{
    margin-left: 60%;  
    font-size: 24px;
    font-family: Helvetica;
 }

 .item3{
     font-size: 24px;
     font-family: Helvetica;
 }

 .item4{
     font-size: 24px;
     font-family: Helvetica;
 }

 .item5{
     font-size: 24px;
     font-weight: bold;
     font-family: Helvetica;
 }

 .item6{
     font-size: 24px;
     font-weight: bold;
     font-family: Helvetica;
 }

 .item7{
    font-size: 24px; 
    font-weight: bold;
    font-family: Helvetica;
 }

 .item8{
     font-size: 24px;
     font-weight: bold;
     font-family: Helvetica;
 }

.item9{
    font-size: 24px;
    font-weight: bold;
    font-family: Helvetica;
}

.item10{
    font-size: 25px;
}
.subheader{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color:black;
    height: 70px;
}
 

.sale{
    background-color: darkgrey;
    display: flex;
    justify-content:center;
    height:50px;
    align-items: center;
}

.pic .img-wrapper1 img{
    width: 80%; 
}
.pic .img-wrapper2 img{
    width: 325%
}

.pic .img-wrapper3 img{
    width: 65%
}

.pic .img-wrapper4 img{
    width: 65%
}

.pictures{
    display: flex;
    /* height: 100px;
    width: 300px; */
    justify-content: center;
}


.pic{
    /* height: 100px;
    width: 300px; */
    justify-content: center;
    /* margin: 0 auto; */
    align-content: center;
    align-items: center;
    margin-left: 1%;
    width:100%
}
.img-wrapper1{
    position:relative;
    width: 80%
}
.img-wrapper1 h4{
    position: absolute;
    top:0;
    left:0;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 50px;
    font-family: Helvetica;
}
.img-wrapper1 p{
    position: absolute;
    top:4em;
    left:1em;
    color: black;
    font-size: 30px;
    font-family: Helvetica;
}

.img-wrapper1 button{
    position: absolute;
    top:11em;
    left:2em;
    color: black;
    font-size: 20px
}

.img-wrapper2{
    position:relative;
    width: 20%;
}

.img-wrapper2 button{
    position: absolute;
    bottom:6em;
    left:2em;
    color: black;
    font-size: 20px;
}

.img-wrapper3{
    position:relative;
    width: 100%
}
.img-wrapper3 h4{
    position: absolute;
    top:0;
    left:0;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 55px;
    font-family: Helvetica;
}
.img-wrapper3 p{
    position: absolute;
    top:4em;
    left:1em;
    color: black;
    font-size: 30px;
    font-family: Helvetica;
}

.img-wrapper3 button{
    position: absolute;
    top:11em;
    left:2em;
    color: black;
    font-size: 20px;
}

.img-wrapper4{
    position:relative;
    width:100%;
}

.img-wrapper4 h4{
    position: absolute;
    top:0;
    right:0;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 50px;
    color: white;
    font-family: Helvetica;
}

.collection{
    margin: 5%;
    font-size: 40px;
    font-weight: bold;
    font-family: Helvetica;
    color: white;
}

.featured{
    margin: 5%;
    font-size: 40px;
    font-weight: bold;
    font-family: Helvetica;
    color: white;
}

.specials{
    margin: 5%;
    font-size: 40px;
    font-weight: bold;
    font-family: Helvetica;
    color: purple;
}

.additionalStuff{
    background-color: #171515;
    display: flex;
    height:500px;
    width:100%;
    justify-content: space-between;
}

.list1{
    color: white;
}

.list2{
    color: white;
}

.list3{
    color: white;
    margin-right: 45%
}

ul{
    list-style: none;
}

li{
    margin: 10%
}

p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }

    75%{
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
      }
  }

  .item5, .item6, .item7, .item8, .item9{
      animation-duration: 5s;
      animation-name: rollIn;
  }

  @keyframes rollIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
      transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  

    @media(max-width: 500px){
      .header{
        justify-content: space-around;
          width: 100vw;
          height: 100%;
       }
      .item1{
        font-size: 35px;
        font-weight: bold;
        font-family: Helvetica;
     }
   
    .item2{
       margin-left: 3%;  
       font-size: 20px;
       font-family: Helvetica;
    }
   
    .item3{
        font-size: 24px;
        font-family: Helvetica;
    }
   
    .item4{
        font-size: 24px;
        font-family: Helvetica;
    }

    .subheader{
        width: 290%
    }

    .sale{
        width: 290%
    }
    .img-wrapper1{
        width: auto;
        margin-left: 20%;
        
    }
    
    }

          
     

/* em  rem  vh  %  px */




