body{
    margin: 0;
    padding: 0;
    width: 100vw;
    background-image: url("addidasgif.png");
    background-size: cover;
    background-repeat:repeat;
    background-position: center;
}
header{
    width:100%;
}
.header{
    background-color: #343232;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:#FAF8F8;
    height: 70px;
    width:100%;
 } 
nav{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
nav div{
    font-size:1em;
    margin-right: 10%;
}
nav i{
    font-size:.5em;
    margin-right: 5%;
}
 .item1{
     font-size: 35px;
     font-weight: bold;
     font-family: Helvetica;
 }

 .item2{
    font-family: Helvetica;
 }

 .item3{
     font-family: Helvetica;
     transform:translateY(5px)
 }

 .item4{
     font-family: Helvetica;
 }

 .item5{
     font-size: 24px;
     font-weight: bold;
     font-family: Helvetica;
 }

 .item6{
     font-size: 24px;
     font-weight: bold;
     font-family: Helvetica;
 }

 .item7{
    font-size: 24px; 
    font-weight: bold;
    font-family: Helvetica;
 }

 .item8{
     font-size: 24px;
     font-weight: bold;
     font-family: Helvetica;
 }

.item9{
    font-size: 24px;
    font-weight: bold;
    font-family: Helvetica;
}

.item10{
    font-size: 25px;
}
.subheader{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color:black;
    height: 70px;
}
 

.sale{
    background-color: darkgrey;
    display: flex;
    justify-content:center;
    height:50px;
    align-items: center;
}

.cool{
    display: flex
}

.item11{
    margin: 5%;
    margin-left: 0%;
    font-size: 50px;
    font-family: Helvetica;
    font-style: bold;
    color: white
}

.retro01, .retro02, .retro03{
    position:relative;
    width: 50%;
    /* margin:0 auto; */
    display:flex;
    justify-content: left;
    width:100%;
}

.retro01 img{
    width: 100%;
}
.retro02 img, .retro03 img{
    width: 50%
    }

 .info1{
    display: flex;
 }

 .text1{
    margin-left: 30%;
    font-size: 30px;
    color: white;
    background: rgba(0, 0, 0, 0.855);
    padding: 1em;
    font-family: Helvetica;
 }

 .info2{
    display: flex;
 }

 .text2{
    margin-left: 30%;
    font-size: 30px;
    color: white;
    background: rgba(0, 0, 0, 0.855);
    padding: 1em;
    font-family: Helvetica;
 }

 .info3{
    display: flex;
 }

 .text3{
    margin-left: 30%;
    font-size: 30px;
    color: white;
    background: rgba(0, 0, 0, 0.855);
    padding: 1em;
    font-family: Helvetica;
 }

 .additionalStuff{
    background-color: #171515;
    display: flex;
    height:500px;
    width:100%;
    justify-content: space-between;
}

.list1{
    color: white;
    font-size: 20px;
}

.list2{
    color: white;
    font-size: 20px;
}

.list3{
    color: white;
    margin-right: 45%;
    font-size: 20px;
}

ul{
    list-style: none;
}

li{
    margin: 10%
}

body{
    background-image: url("nikegif.png");
    background-size: cover;
    background-repeat:repeat;
    height: 2000px;
    background-position: center;
}


@media screen and (max-width: 500px){
    .header{
       justify-content: space-around;
        width: 100vw;
        height: 100%;
        font-size:.5em;

     }
    .item1{
      font-size: 2em;
      font-weight: bold;
      font-family: Helvetica;
   }
   .subheader div{
       font-size:1em;
   }

   .item10{
       font-size: 1em
   }
}
