body{
    margin: 0;
    padding: 0;
    width: 100vw;
    background-image: url("addidasgif.png");
    background-size: cover;
    background-repeat:repeat;
    background-position: center;
}
header{
    width:100%;
}
.header{
    background-color: #343232;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:#FAF8F8;
    height: 70px;
    width:100%;
 } 
nav{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
nav div{
    font-size:1em;
    margin-right: 10%;
}
nav i{
    font-size:.5em;
    margin-right: 5%;
}
 .item1{
     font-size: 35px;
     font-weight: bold;
     font-family: Helvetica;
 }

 .item2{
    font-family: Helvetica;
 }

 .item3{
     font-family: Helvetica;
     transform:translateY(5px)
 }

 .item4{
     font-family: Helvetica;
 }

 .item5{
     font-size: 24px;
     font-weight: bold;
     font-family: Helvetica;
 }

 .item6{
     font-size: 24px;
     font-weight: bold;
     font-family: Helvetica;
 }

 .item7{
    font-size: 24px; 
    font-weight: bold;
    font-family: Helvetica;
 }

 .item8{
     font-size: 24px;
     font-weight: bold;
     font-family: Helvetica;
 }

.item9{
    font-size: 24px;
    font-weight: bold;
    font-family: Helvetica;
}

.item10{
    font-size: 25px;
}
.subheader{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color:black;
    height: 70px;
}
 

.sale{
    background-color: darkgrey;
    display: flex;
    justify-content:center;
    height:50px;
    align-items: center;
}


.img-wrapper1, .img-wrapper2, .img-wrapper3, .img-wrapper4{
    position:relative;
    width: 50%;
    margin:0 auto;
    display:flex;
    justify-content: center;
    width:70%;
}


.img-wrapper1 img, .img-wrapper2 img, .img-wrapper3 img,.img-wrapper4 img {
    width: 100%; 
    /* margin:0 auto; */

}

.img-wrapper1 h4{
    position: absolute;
    top:0;
    left:5%;
    color: black;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    font-size: 2em;
    font-family: Helvetica;
}
.img-wrapper1 p{
    position: absolute;
    top:12%;
    left:5%;
    color: black;
    font-size: 30px;
    font-family: Helvetica;
}

.img-wrapper1 button{
    position: absolute;
    top:11em;
    left:2em;
    color: black;
    font-size: 20px
    /* border:1px black; */
}




.img-wrapper2 button{
    position: absolute;
    bottom:15%;
    right:15%;
    color: black;
    font-size: 20px;
}

.img-wrapper3 h4{
    position: absolute;
    top:0;
    left:0;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 55px;
    font-family: Helvetica;
}
.img-wrapper3 p{
    position: absolute;
    top:4em;
    left:1em;
    color: black;
    font-size: 30px;
    font-family: Helvetica;
}

.img-wrapper3 button{
    position: absolute;
    top:11em;
    left:2em;
    color: black;
    font-size: 20px;
}

.pictures{
    display: flex;
    /* height: 100px;
    width: 300px; */
    justify-content: center;
}


.pic{
    justify-content: center;
    margin-left: 1%;
    width:100%
}




.img-wrapper4 h4{
    position: absolute;
    top:0;
    left:10%;
    color: black;
  
    font-size: 2em;
    color: white;
    font-family: Helvetica;
}

.collection{
    margin: 5%;
    font-size: 40px;
    font-weight: bold;
    font-family: Helvetica;
    color: white;
}

.featured{
    margin: 5%;
    font-size: 40px;
    font-weight: bold;
    font-family: Helvetica;
    color: white;
}

.specials{
    margin: 5%;
    font-size: 40px;
    font-weight: bold;
    font-family: Helvetica;
    color: purple;
}

.additionalStuff{
    background-color: #171515;
    display: flex;
    height:500px;
    width:100%;
    justify-content: space-between;
}

.list1{
    color: white;
}

.list2{
    color: white;
}

.list3{
    color: white;
    margin-right: 45%
}

ul{
    list-style: none;
}

li{
    margin: 10%
}

p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }

    75%{
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
      }
  }

  .item5, .item6, .item7, .item8, .item9{
      animation-duration: 5s;
      animation-name: rollIn;
  }

  @keyframes rollIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
      transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  

  @media screen and (max-width: 500px){
      .header{
         justify-content: space-around;
          width: 100vw;
          height: 100%;
          font-size:.5em;

       }
      .item1{
        font-size: 2em;
        font-weight: bold;
        font-family: Helvetica;
     }
     .subheader div{
         font-size:1em;
     }

     .item10{
         font-size: 1em
     }

     .pic h4{
         margin:-1%;
         font-size: 20px;
     }

     .pic p{
         font-size: 15px
     }

     .pic button{
         top: 5em;
         left: 0;
         font-size: 15px;
     }

     .img-wrapper2 button{
         bottom: -1em;
         left: 15em;
         font-size: 15px;
         color: red;
     }
   
     .img-wrapper3 p{
         margin: -2em;
         margin-left: .5em
     }

     .img-wrapper3 button{
         margin: -1em;
         margin-left: .5em;
     }
     .collection{
         font-size: 2em;
     }

     .featured{
        font-size: 2em;
    }

    .specials{
        font-size: 2em;
    }
    /* .item2{
       margin-left: 3%;  
       font-size: 20px;
       font-family: Helvetica;
    }
   
    .item3{
        font-size: 24px;
        font-family: Helvetica;
    }
   
    .item4{
        font-size: 24px;
        font-family: Helvetica;
    }

    .subheader{
        width: 290%
    }

    .sale{
        width: 290%
    } */
    /* .img-wrapper1{
        width: auto;
        margin-left: 20%;
        
    } */
    
    }

          
     

/* em  rem  vh  %  px */




